# Authz, misc controls and other small blocks
authz:
  http:
    enabled: true
    identity-url-template: ${CP_CDK_REST_AUTH_URL}
    user-id-header: "CJSCPPUID"
    action-header: "CPP-ACTION"
    accept-header: "application/vnd.usersgroups.get-logged-in-user-permissions+json"
    drools-classpath-pattern: "classpath:/acl/**/*.drl"
    reload-on-each-request: true
    action-required: false
    deny-when-no-rules: true
    group-aliases:
      "Legal Advisers": "Legal Advisers"
      "Prosecuting Authority Access": "Prosecuting Authority Access"
    exclude-path-prefixes:
      - "/usersgroups-query-api/"
      - "/actuator"
      - "/error"

audit:
  http:
    enabled: true
    openapi-rest-spec: ${CP_CDK_REST_SPECIFICATION}


# Virtual threads toggle (Boot 3.2+/4.x)
spring.threads.virtual.enabled: ${VIRTUAL_THREADS:false}

spring:
  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false