# Datasource, JPA and Flyway
spring:
  datasource:
    url: ${CP_CDK_DATASOURCE_URL}
    username: ${CP_CDK_DATASOURCE_USERNAME}
    password: ${CP_CDK_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: cp-hikari
      maximum-pool-size: ${CP_CDK_DB_POOL_SIZE:20}
      minimum-idle: ${CP_CDK_DB_MIN_IDLE:5}
      connection-timeout: ${CP_CDK_DB_CONNECTION_TIMEOUT}
      idle-timeout: ${CP_CDK_DB_IDLE_TIMEOUT}
      max-lifetime: ${CP_CDK_DB_MAX_LIFETIME}
      keepalive-time: ${CP_CDK_DB_KEEPLIVE_TIME}
      auto-commit: ${CP_CDK_DB_AUTO_COMMIT}
      validation-timeout: ${CP_CDK_DB_VALIDATION_TIMEOUT}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.connection.provider_disables_autocommit: true
      hibernate.jdbc.batch_size: 50
      hibernate.order_inserts: true
      hibernate.order_updates: true

  flyway:
    enabled: true
    locations:
      - classpath:db/migration/postgresql
      - classpath:db/migration
    baseline-on-migrate: true

