# Server, management/actuator, tracing, OTLP and logging
server:
  shutdown: graceful
  http2:
    enabled: true
  forward-headers-strategy: framework
  compression:
    enabled: true
    min-response-size: 2KB
    mime-types: "application/json,application/xml,text/html,text/plain,text/xml,text/css,application/javascript"

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT:${SERVER_PORT:8082}}

  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "health,info,metrics,prometheus,env,loggers,threaddump"

  health:
    jms:
      enabled: false

  endpoint:
    health:
      probes:
        enabled: false

  metrics:
    tags:
      service: cp-case-document-knowledge-service
      cluster: ${CLUSTER_NAME:local}
      region: ${REGION:local}

  tracing:
    enabled: false
    sampling:
      probability: ${TRACING_SAMPLER_PROBABILITY:1.0}

  otlp:
    tracing:
      enabled: ${OTEL_METRICS_ENABLED:false}
      endpoint: ${OTEL_TRACES_URL:http://localhost:4318/traces}
    metrics:
      export:
        enabled: ${OTEL_METRICS_ENABLED:false}
        url: ${OTEL_METRICS_URL:http://localhost:4318/metrics}

logging:
  level:
    root: INFO
  config: classpath:logback-spring.xml
