name: Build and Publish (Non-Release)

on:
  pull_request:
    branches:
      - master
      - main
  push:
    branches:
      - master
      - main

jobs:
  ci-draft:
    uses: ./.github/workflows/ci-build-publish.yml
    secrets:
      AZURE_DEVOPS_ARTIFACT_USERNAME: ${{ secrets.AZURE_DEVOPS_ARTIFACT_USERNAME }}
      AZURE_DEVOPS_ARTIFACT_TOKEN: ${{ secrets.AZURE_DEVOPS_ARTIFACT_TOKEN }}
      HMCTS_ADO_PAT: ${{ secrets.HMCTS_CP_ADO_PAT }}
      AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING}}
    with:
      is_publish: ${{ github.event_name == 'push' }}
      trigger_docker: ${{ github.event_name == 'push' }}
      trigger_deploy: ${{ github.event_name == 'push' }}